.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 693px;
  margin-top: 80px;

  .footer-logo {
    margin-bottom: 40px;
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: -16px;

    .twitter {
      svg:hover path {
        fill: #ea4c89;
      }
    }
  }
  .copy {
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin-top: 16px;
  }
  .credit {
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin-top: 16px;
  }
}

// Mobile Devices
@media (min-width: 320px) and (max-width: 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 292px;
    margin-top: 120px;
    .footer-logo {
      svg {
        width: 120px;
      }
    }

    .social {
      display: flex;
      justify-content: space-between;
      width: 200px;
      margin-top: -16px;

      svg {
        width: 16px;
      }

      .twitter {
        svg:hover path {
          fill: #ea4c89;
        }
      }
    }
    .copy {
      font-size: 12px;
      color: #777777;
      text-align: center;
      margin-top: 24px;
    }
    .credit {
      font-size: 12px;
      color: #777777;
      text-align: center;
      margin-top: 12px;
    }
  }
}
