@import "./typography";

.hero_wrapper {
  // max-width: 864px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  .me {
    margin-bottom: 16px;
    color: rgb(182, 182, 182);
    font-size: 12px;
    text-transform: uppercase;
    display: inline-flex;
    padding: 4px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    background: rgba(15, 15, 15, 0.6);
    border: 1px solid #3a3a3a;
  }

  h1 {
    margin-top: 16px;
    width: 800px;
    color: #fff;
    font-size: 64px;
    // font-weight: 500;
    line-height: 72px;
    font-family: Domaine Display Semibold;

    text-align: center;

    .t1 {
      font-family: Domaine Display Semibold Italic;

      background: linear-gradient(-45deg, #ee7752, #e73c7e, #ff9900, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    .t2 {
      font-family: Domaine Display Semibold Italic;
      background: linear-gradient(-45deg, #5283ee, #613ce7, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .intro {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 550px;
    color: rgb(148, 148, 148);
    margin-top: 16px;
    text-align: center;
  }

  .cta_wrapper {
    margin-top: 32px;
    .mail_cta {
      display: flex;
      padding: 8px 32px 8px 16px;
      align-items: flex-start;
      gap: 8px;

      position: relative;

      border-radius: 40px;
      background: var(--blue-blue-5, #eff6ff);

      /* Button Elevation */
      box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.24) inset,
        0px 4px 8px -4px rgba(0, 0, 0, 0.2),
        0px 10px 8px 0px rgba(0, 0, 0, 0.08);

      #pointer {
        position: absolute;
        right: 14px;
        top: 0;
      }
    }
  }
}

// Mobile Devices
@media (min-width: 320px) and (max-width: 480px) {
  .hero_wrapper {
    .me {
      font-size: 10px;
    }

    h1 {
      width: 100%;
      color: #fff;
      font-size: 28px;
      line-height: 40px;
    }

    .intro {
      font-size: 14px;
      width: 100%;
      margin-top: 8px;
      text-align: center;
    }
    .cta_wrapper {
      margin-top: 0px;
      .mail_cta {
        display: flex;
        align-items: center;
        padding: 6px 24px 6px 12px;

        gap: 8px;
        font-size: 14px;
        position: relative;

        border-radius: 40px;
        background: var(--blue-blue-5, #eff6ff);

        /* Button Elevation */
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.24) inset,
          0px 4px 8px -4px rgba(0, 0, 0, 0.2),
          0px 10px 8px 0px rgba(0, 0, 0, 0.08);

        #pointer {
          position: absolute;
          right: 8px;
          top: 0;
        }
      }
    }
  }
}
