.navigation_wrapper {
  //   background: rgba(148, 148, 148, 0.281);
  // margin-top: 32px;
  // max-width: 864px;
  margin: 0 auto;
  padding-top: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    position: relative;
    .emblem {
      width: 100px;
      animation: spin 10s linear infinite;
      @keyframes spin {
        0% {
          -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg); /* IE 9 */
          transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }
        100% {
          -webkit-transform: rotate(
            360deg
          ); /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg); /* IE 9 */
          transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
      }
    }
    .logo-inner {
      position: absolute;
      width: 32px;
      top: 40px;
      left: 34px;
    }
  }

  .nav_links {
    // background-color: aliceblue;

    .nav-item {
      .download-cta {
        position: relative;
        text-decoration: none;
        padding: 8px 16px;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 2px rgba(black, 0.2);
        background: linear-gradient(#6d67b9, #5747ac);
        border-radius: 999px;
        box-shadow: 0 2px 4px rgba(black, 0.2);
        cursor: pointer;

        span {
          width: 25px;
          height: 25px;
          position: absolute;
          top: -12px;
          right: -2px;
          transform: rotate(-20deg);
          filter: blur(0.5px);

          &::before,
          &::after {
            content: "";
            position: absolute;
          }
          &::before {
            width: 1px;
            height: 100%;
            left: 12px;
            background: linear-gradient(
              to bottom,
              transparent,
              rgba(white, 0.7),
              transparent
            );
          }
          &::after {
            width: 100%;
            height: 1px;
            top: 12px;
            background: linear-gradient(
              to left,
              transparent,
              rgba(white, 0.7),
              transparent
            );
          }
        }
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          background: radial-gradient(
            97% 235% at 75% 20%,
            white 0%,
            rgba(135, 187, 255, 0.7) 38%,
            rgba(255, 255, 255, 0.21) 100%
          );
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          border-radius: 999px;
        }
      }
    }
  }
  .lucy-nav {
    position: sticky;
    top: 64px;
    z-index: 444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nav {
      display: flex;
      padding: 4px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: hsla(0, 0%, 100%, 0.1);
      box-shadow: 0 10px 10px -5px rgb(0 0 0 / 10%);
      border-radius: 56px;
      .nav-item {
        display: flex;
        // width: 112px;
        height: 44px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 240px;
        color: rgb(172, 172, 172);
        text-decoration: none;
      }
      .active {
        background-color: #fff;
        color: #000;
      }
    }
  }
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}

// Mobile Devices
@media (min-width: 320px) and (max-width: 480px) {
  .navigation_wrapper {
    .logo {
      position: relative;
      svg {
        width: 120px;
      }
    }
  }
}
