.project-container {
  // background-color: aliceblue;
  width: 900px;
  .section-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    // width: 864px;
    margin: 40px auto;

    .divider {
      width: 100%;
      height: 1px;
      background-color: #686868;
    }
    .text-style-divider {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      color: #a1a1aa;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .projects-wrapper {
    display: flex;

    justify-content: space-between;

    .project-item {
      display: flex;
      flex-direction: column;
      position: relative;
      .thumbnails {
        .tag {
          display: inline-flex;
          padding: 6px 12px;
          justify-content: center;
          align-items: center;
          gap: 4px;

          border-radius: 24px;
          border: 1px solid var(--gray-grey-80, #1f2937);
          background: rgba(17, 24, 39, 0.8);
          backdrop-filter: blur(2px);

          color: #9ca3af;
          font-size: 12px;
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;

          position: absolute;
          top: 16px;
          left: 16px;
        }
        img {
          width: 100%;
          height: 240px;
          flex-shrink: 0;
          object-fit: cover;
          border: 1px solid #121212;
          border-radius: 12px;
          flex-grow: 1 0 1;
        }
        video {
          width: 100%;
          // height: 329px;
          flex-shrink: 0;
          object-fit: cover;
          border: 1px solid #121212;
          border-radius: 12px;
        }
      }
      &_info {
        margin-top: 16px;
        h1 {
          font-size: 20px;
          font-weight: 500;
          color: #fff;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: #888888;
        }
      }
    }
  }
}

// Mobile Devices
@media (min-width: 320px) and (max-width: 480px) {
  .project-container {
    width: auto;
    .section-divider {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      margin: 40px auto;
      padding: 0 8px;

      .divider {
        // width: 100%;
        height: 1px;
        background-color: #e4e4e7;
      }
      .text-style-divider {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .projects-wrapper {
    display: flex;
    .project-item {
      width: 100%;
      position: relative;

      &_info {
        margin-top: 16px;
        h1 {
          font-size: 16px;
          font-weight: 500;
          color: #fff;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          color: #888888;
        }
      }
    }
  }
}
