@font-face {
  font-family: Domaine Display Regular;
  src: url("../assets/typography/DomaineDispNar-Regular.otf");
}

@font-face {
  font-family: Domaine Display Regular Italic;
  src: url("../assets/typography/DomaineDispNar-RegularItalic.otf");
}

@font-face {
  font-family: Domaine Display Medium;
  src: url("../assets/typography/DomaineDispNar-Medium.otf");
}

@font-face {
  font-family: Domaine Display Medium Italic;
  src: url("../assets/typography/DomaineDispNar-MediumItalic.otf");
}

@font-face {
  font-family: Domaine Display Semibold;
  src: url("../assets/typography/DomaineDispNar-Semibold.otf");
}

@font-face {
  font-family: Domaine Display Semibold Italic;
  src: url("../assets/typography/DomaineDispNar-SemiboldItalic.otf");
}

@font-face {
  font-family: Domaine Display Bold;
  src: url("../assets/typography/DomaineDispNar-Bold.otf");
}

@font-face {
  font-family: Domaine Display Bold Italic;
  src: url("../assets/typography/DomaineDispNar-BoldItalic.otf");
}

@font-face {
  font-family: Domaine Display Extrabold;
  src: url("../assets/typography/DomaineDispNar-Extrabold.otf");
}

@font-face {
  font-family: Domaine Display Extrabold Italic;
  src: url("../assets/typography/DomaineDispNar-ExtraboldItalic.otf");
}

@font-face {
  font-family: Domaine-Display-Black;
  src: url("../assets/typography/DomaineDispNar-Black.otf");
}

@font-face {
  font-family: Domaine-Display-Black Italic;
  src: url("../assets/typography/DomaineDispNar-BlackItalic.otf");
}
