@import "./navigation";
body {
  a {
    background-color: transparent;
    color: #000;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }
  .about-container {
    background: #000;
  }
}
