@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Oranienbaum&display=swap");
@import "./navigation";
@import "./hamburger";
@import "./hero";
@import "./project";
@import "./footer";
@import "./universal";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  // background-image: url(../assets/background.png);
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: cover;
  // height: 70vh;
  position: relative;
  .video {
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 20vh;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .video-overlay {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #000000 100%
      );
      z-index: -998;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: auto;
      height: 70vh;
    }
    video {
      // height: 70vh;
      width: 100%;
      z-index: -999;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      display: none;
    }
  }

  .company-wrapper {
    max-width: 900px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .label {
      color: #9ca3af;
      text-align: center;
      font-size: 14px;
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .company-logo {
      display: flex;
      align-items: center;
      gap: 24px;
      list-style: none;
      img {
        width: 120px;
      }
    }
  }
}

// Mobile Devices
@media (min-width: 320px) and (max-width: 480px) {
  .company-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 40px !important;
    .label {
      font-size: 12px;
      line-height: 24px;
    }
    .company-logo {
      display: flex;
      align-items: center;

      // gap: 24px;
      list-style: none;
      img {
        width: 40px;
      }
    }
  }
}

// Mobile Devices
@media (min-width: 320px) and (max-width: 480px) {
  .video {
    video {
      height: 100vh;
      z-index: -999;
    }
  }
}

// Mobile Devices
@media (min-width: 320px) and (max-width: 480px) {
  .section-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    width: auto;
    margin: 40px auto;
    padding: 0 16px;

    .divider {
      // width: 100%;
      height: 1px;
      background-color: #e4e4e7;
    }
    .text-style-divider {
      font-size: 12px;
    }
  }
}

h2 {
  margin: 0;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

#element {
  cursor: pointer;
  user-select: none;
  z-index: 9999;

  // &:hover {
  //   background: #fff;
  // }
}

@keyframes emojiAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--tx), var(--ty));
    opacity: 0;
  }
}

.emoji {
  position: absolute;

  animation: emojiAnimation 1s linear forwards;
}
