@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Oranienbaum&display=swap");
.navigation_wrapper {
  margin: 0 auto;
  padding-top: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation_wrapper .logo {
  position: relative;
}
.navigation_wrapper .logo .emblem {
  width: 100px;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
.navigation_wrapper .logo .logo-inner {
  position: absolute;
  width: 32px;
  top: 40px;
  left: 34px;
}
.navigation_wrapper .nav_links .nav-item .download-cta {
  position: relative;
  text-decoration: none;
  padding: 8px 16px;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#6d67b9, #5747ac);
  border-radius: 999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.navigation_wrapper .nav_links .nav-item .download-cta span {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -12px;
  right: -2px;
  transform: rotate(-20deg);
  filter: blur(0.5px);
}
.navigation_wrapper .nav_links .nav-item .download-cta span::before, .navigation_wrapper .nav_links .nav-item .download-cta span::after {
  content: "";
  position: absolute;
}
.navigation_wrapper .nav_links .nav-item .download-cta span::before {
  width: 1px;
  height: 100%;
  left: 12px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.7), transparent);
}
.navigation_wrapper .nav_links .nav-item .download-cta span::after {
  width: 100%;
  height: 1px;
  top: 12px;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.7), transparent);
}
.navigation_wrapper .nav_links .nav-item .download-cta::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: radial-gradient(97% 235% at 75% 20%, white 0%, rgba(135, 187, 255, 0.7) 38%, rgba(255, 255, 255, 0.21) 100%);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 999px;
}
.navigation_wrapper .lucy-nav {
  position: sticky;
  top: 64px;
  z-index: 444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation_wrapper .lucy-nav .nav {
  display: flex;
  padding: 4px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  border-radius: 56px;
}
.navigation_wrapper .lucy-nav .nav .nav-item {
  display: flex;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 240px;
  color: rgb(172, 172, 172);
  text-decoration: none;
}
.navigation_wrapper .lucy-nav .nav .active {
  background-color: #fff;
  color: #000;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navigation_wrapper .logo {
    position: relative;
  }
  .navigation_wrapper .logo svg {
    width: 120px;
  }
}
.menu {
  cursor: pointer;
  display: flex;
  align-items: center;
}

svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active svg {
  transform: rotate(90deg);
}

path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path:nth-child(1) {
  transform-origin: 36% 40%;
}

path:nth-child(2) {
  stroke-dasharray: 29 299;
}

path:nth-child(3) {
  transform-origin: 35% 63%;
}

path:nth-child(4) {
  stroke-dasharray: 29 299;
}

path:nth-child(5) {
  transform-origin: 61% 52%;
}

path:nth-child(6) {
  transform-origin: 62% 52%;
}

.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

@font-face {
  font-family: Domaine Display Regular;
  src: url("../assets/typography/DomaineDispNar-Regular.otf");
}
@font-face {
  font-family: Domaine Display Regular Italic;
  src: url("../assets/typography/DomaineDispNar-RegularItalic.otf");
}
@font-face {
  font-family: Domaine Display Medium;
  src: url("../assets/typography/DomaineDispNar-Medium.otf");
}
@font-face {
  font-family: Domaine Display Medium Italic;
  src: url("../assets/typography/DomaineDispNar-MediumItalic.otf");
}
@font-face {
  font-family: Domaine Display Semibold;
  src: url("../assets/typography/DomaineDispNar-Semibold.otf");
}
@font-face {
  font-family: Domaine Display Semibold Italic;
  src: url("../assets/typography/DomaineDispNar-SemiboldItalic.otf");
}
@font-face {
  font-family: Domaine Display Bold;
  src: url("../assets/typography/DomaineDispNar-Bold.otf");
}
@font-face {
  font-family: Domaine Display Bold Italic;
  src: url("../assets/typography/DomaineDispNar-BoldItalic.otf");
}
@font-face {
  font-family: Domaine Display Extrabold;
  src: url("../assets/typography/DomaineDispNar-Extrabold.otf");
}
@font-face {
  font-family: Domaine Display Extrabold Italic;
  src: url("../assets/typography/DomaineDispNar-ExtraboldItalic.otf");
}
@font-face {
  font-family: Domaine-Display-Black;
  src: url("../assets/typography/DomaineDispNar-Black.otf");
}
@font-face {
  font-family: Domaine-Display-Black Italic;
  src: url("../assets/typography/DomaineDispNar-BlackItalic.otf");
}
.hero_wrapper {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.hero_wrapper .me {
  margin-bottom: 16px;
  color: rgb(182, 182, 182);
  font-size: 12px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 4px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background: rgba(15, 15, 15, 0.6);
  border: 1px solid #3a3a3a;
}
.hero_wrapper h1 {
  margin-top: 16px;
  width: 800px;
  color: #fff;
  font-size: 64px;
  line-height: 72px;
  font-family: Domaine Display Semibold;
  text-align: center;
}
.hero_wrapper h1 .t1 {
  font-family: Domaine Display Semibold Italic;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #ff9900, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero_wrapper h1 .t2 {
  font-family: Domaine Display Semibold Italic;
  background: linear-gradient(-45deg, #5283ee, #613ce7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero_wrapper .intro {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 550px;
  color: rgb(148, 148, 148);
  margin-top: 16px;
  text-align: center;
}
.hero_wrapper .cta_wrapper {
  margin-top: 32px;
}
.hero_wrapper .cta_wrapper .mail_cta {
  display: flex;
  padding: 8px 32px 8px 16px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  border-radius: 40px;
  background: var(--blue-blue-5, #eff6ff);
  /* Button Elevation */
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.24) inset, 0px 4px 8px -4px rgba(0, 0, 0, 0.2), 0px 10px 8px 0px rgba(0, 0, 0, 0.08);
}
.hero_wrapper .cta_wrapper .mail_cta #pointer {
  position: absolute;
  right: 14px;
  top: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero_wrapper .me {
    font-size: 10px;
  }
  .hero_wrapper h1 {
    width: 100%;
    color: #fff;
    font-size: 28px;
    line-height: 40px;
  }
  .hero_wrapper .intro {
    font-size: 14px;
    width: 100%;
    margin-top: 8px;
    text-align: center;
  }
  .hero_wrapper .cta_wrapper {
    margin-top: 0px;
  }
  .hero_wrapper .cta_wrapper .mail_cta {
    display: flex;
    align-items: center;
    padding: 6px 24px 6px 12px;
    gap: 8px;
    font-size: 14px;
    position: relative;
    border-radius: 40px;
    background: var(--blue-blue-5, #eff6ff);
    /* Button Elevation */
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.24) inset, 0px 4px 8px -4px rgba(0, 0, 0, 0.2), 0px 10px 8px 0px rgba(0, 0, 0, 0.08);
  }
  .hero_wrapper .cta_wrapper .mail_cta #pointer {
    position: absolute;
    right: 8px;
    top: 0;
  }
}
.project-container {
  width: 900px;
}
.project-container .section-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: 40px auto;
}
.project-container .section-divider .divider {
  width: 100%;
  height: 1px;
  background-color: #686868;
}
.project-container .section-divider .text-style-divider {
  flex: 0 0 auto;
  color: #a1a1aa;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.project-container .projects-wrapper {
  display: flex;
  justify-content: space-between;
}
.project-container .projects-wrapper .project-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.project-container .projects-wrapper .project-item .thumbnails .tag {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  border: 1px solid var(--gray-grey-80, #1f2937);
  background: rgba(17, 24, 39, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: #9ca3af;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  top: 16px;
  left: 16px;
}
.project-container .projects-wrapper .project-item .thumbnails img {
  width: 100%;
  height: 240px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #121212;
  border-radius: 12px;
  flex-grow: 1 0 1;
}
.project-container .projects-wrapper .project-item .thumbnails video {
  width: 100%;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #121212;
  border-radius: 12px;
}
.project-container .projects-wrapper .project-item_info {
  margin-top: 16px;
}
.project-container .projects-wrapper .project-item_info h1 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.project-container .projects-wrapper .project-item_info p {
  font-size: 16px;
  font-weight: 400;
  color: #888888;
}

@media (min-width: 320px) and (max-width: 480px) {
  .project-container {
    width: auto;
  }
  .project-container .section-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 40px auto;
    padding: 0 8px;
  }
  .project-container .section-divider .divider {
    height: 1px;
    background-color: #e4e4e7;
  }
  .project-container .section-divider .text-style-divider {
    font-size: 12px;
    font-weight: 400;
  }
  .projects-wrapper {
    display: flex;
  }
  .projects-wrapper .project-item {
    width: 100%;
    position: relative;
  }
  .projects-wrapper .project-item_info {
    margin-top: 16px;
  }
  .projects-wrapper .project-item_info h1 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  .projects-wrapper .project-item_info p {
    font-size: 14px;
    font-weight: 400;
    color: #888888;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 693px;
  margin-top: 80px;
}
.footer-container .footer-logo {
  margin-bottom: 40px;
}
.footer-container .social {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: -16px;
}
.footer-container .social .twitter svg:hover path {
  fill: #ea4c89;
}
.footer-container .copy {
  font-size: 16px;
  color: #777777;
  text-align: center;
  margin-top: 16px;
}
.footer-container .credit {
  font-size: 16px;
  color: #777777;
  text-align: center;
  margin-top: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 292px;
    margin-top: 120px;
  }
  .footer-container .footer-logo svg {
    width: 120px;
  }
  .footer-container .social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: -16px;
  }
  .footer-container .social svg {
    width: 16px;
  }
  .footer-container .social .twitter svg:hover path {
    fill: #ea4c89;
  }
  .footer-container .copy {
    font-size: 12px;
    color: #777777;
    text-align: center;
    margin-top: 24px;
  }
  .footer-container .credit {
    font-size: 12px;
    color: #777777;
    text-align: center;
    margin-top: 12px;
  }
}
ul {
  padding-left: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  position: relative;
}
body .video {
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: flex;
  height: 20vh;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}
body .video .video-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
  z-index: -998;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  height: 70vh;
}
body .video video {
  width: 100%;
  z-index: -999;
}
@media (min-width: 320px) and (max-width: 480px) {
  body .video {
    display: none;
  }
}
body .company-wrapper {
  max-width: 900px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .company-wrapper .label {
  color: #9ca3af;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
body .company-wrapper .company-logo {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}
body .company-wrapper .company-logo img {
  width: 120px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .company-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 40px !important;
  }
  .company-wrapper .label {
    font-size: 12px;
    line-height: 24px;
  }
  .company-wrapper .company-logo {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .company-wrapper .company-logo img {
    width: 40px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .video video {
    height: 100vh;
    z-index: -999;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .section-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    width: auto;
    margin: 40px auto;
    padding: 0 16px;
  }
  .section-divider .divider {
    height: 1px;
    background-color: #e4e4e7;
  }
  .section-divider .text-style-divider {
    font-size: 12px;
  }
}
h2 {
  margin: 0;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}

#element {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 9999;
}

@keyframes emojiAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--tx), var(--ty));
    opacity: 0;
  }
}
.emoji {
  position: absolute;
  animation: emojiAnimation 1s linear forwards;
}/*# sourceMappingURL=main.css.map */